<!DOCTYPE html>
<html>
    <head>
        <title>INSIGHTIFY</title>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        </div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="index.html">INSIGHTIFY</a>
              </div>
            </div>
          </nav>
          <br> <br><br> <br><br>  <br><br> <br><br> <br><br>
          <div class="container">
            
            <form action="{{ url_for('user')}}" method="POST">
              <div class="panel panel-primary">
                  <div class="panel-heading"><span class="glyphicon glyphicon-log-in"></span> Log - in </div>
                  <div class="panel-body">
                      <div class="form-group">
                          <label for="netid">NetId:</label>
                          <input type="netid" class="form-control" id="netid" placeholder="Enter NetId" name="netid">
                        </div>
                        <div class="form-group">
                          <label for="pwd">Password:</label>
                          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
                        </div>
                        <!-- <div class="checkbox">
                          <label><input type="checkbox" name="remember"> Remember me</label>
                        </div> -->
                            <h5 style="color: red;">Login Failed - Relogin</h5>
                        <input type ="submit" class="btn btn-primary btn-block" role="button">
                      </form>
                  </div>
                  <div class="panel-footer">Don't have an account? <a href="signup.html"><len></len>Register <span class="glyphicon glyphicon-user"></span></a></div>
                </div>
            </form>
        </div>   
        <br> <br><br> <br><br>  <br><br> <br><br> <br>    <br>
    </body>
</html
