<!DOCTYPE html>
<html>
    <head>
        <title>INSIGHTIFY</title>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        </div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('homepage')}}">INSIGHTIFY</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li ><a href="{{url_for('loginPage')}}"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
                <li >   </li> <li ></li><li ></li>
                <li ><a href="{{url_for('signupPage')}}"><span class="glyphicon glyphicon-user"></span>sign up</a></li>
                <li >   </li><li ></li> <li ></li><li ></li>
              </ul>
            </div>
          </nav>
          <br> <br><br> <br><br> 
          <div class="container">
            <form action="{{url_for('signupSuccessful')}}" method="POST">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>Sign - up </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="First Name">First Name</label>
                        <input type="text" class="form-control" id="First Name" placeholder="Enter First Name" name="FirstName">
                      </div>
                      <div class="form-group">
                        <label for="Last Name">Last Name</label>
                        <input type="text" class="form-control" id="Last Name" placeholder="Last Name" name="LastName">
                      </div>
                      <!-- <div class="form-group">
                        <label for="Contact No">Contact No</label>
                        <input type="Contact No" class="form-control" id="Contact No" placeholder="Contact No" name="Contact No">
                      </div>  -->
                    <div class="form-group">
                        <label for="netid">NetId:</label>
                        <input type="text" class="form-control" id="netid" placeholder="Enter netid" name="netid">
                      </div>
                      <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
                      </div>
                      <div class="form-group">
                        <label for="role"> Role:</label>
                        <input type="text" class="form-control" id="role" placeholder="Enter Role" name="role">
                      </div>
                      <div class="form-group">
                        <label for="DeptID"> DeptID:</label>
                        <input type="text" class="form-control" id="DeptID" placeholder="Enter Department" name="DeptID">
                      </div>
                      <!-- <div class="form-group">
                        <label for="pwd1"> Required Password:</label>
                        <input type=" required password" class="form-control" id="pwd" placeholder="Enter password" name="pwd1" required>
                      </div> -->
                      <input type ="submit" class="btn btn-primary btn-block" role="button">
                    </form>
                </div>
                
              </div>
        </div>   
        <br> <br><br> <br><br> 
    </body>
</html